@tailwind base;
@tailwind components;
@tailwind utilities;

p{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-family:Impact;

}


.hideMe {
    opacity: 0;
    height:0px;
    
    
}
#slowDown{
    transition: all 1s linear; 
}

.visibleNow {
    opacity:1;
    transition: all .3s ease-in;
    height:auto;
  
}
.spinner{
    transition: all 1.5s ease-in-out;
}
.spinner:hover,
.spinner:focus {
  filter: invert(100%) sepia(51%) saturate(2878%) hue-rotate(3060deg) brightness(85%) contrast(97%);
  transition: all 1.5s ease-in-out;
}

